*{
    margin: 0px;
    padding: 0px;
   
}
body{
    text-align: center;
    background-color: #101015;
background-image: linear-gradient(135deg, #101015 0%, #6f73a5 48%, #232f30 100%);
overflow: hidden;

}
img{
    
  margin-top: 15%;
  margin-left: 1%;
  width: 250px;

}
.contaner{
    height: 97vh;
    text-align: center;
    position: relative;
    overflow: hidden;
}