*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    display: flex;
    height: 100vh;
}
form{
    width: fit-content;
    display: flex;
   flex-direction: column;
   margin: auto;
   border: 1px solid black;
   gap: 5px;
   padding: 5vh 2vh;
   background: rgb(240,162,162);
background: linear-gradient(299deg, rgba(240,162,162,1) 0%, rgba(80,18,110,0.9893207282913166) 100%);
}
button{
    height: 4vh;
    font-size: large;
}
p{
    display:none;
} 
 


